* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: transparent;
}

header .container{
    width: 80%;
    margin: auto;
}

header{
    background-color: #000000;
    color: #DEB597;
    padding-top: 30px;
    min-height: 70px;
    max-height: 70px;
    border-bottom: #631b14 3px solid;
    overflow: hidden;
}

.logo img {
    width: 70px;
    margin-top: -13px;
    margin-left: -22px;
}

header a{
    color: #DEB597;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

header a:hover{
    text-decoration: underline;
    color: #ffffff;
}

header a.active{
    background-color: #000000;
    color: #DEB597;
}

header .icon{
    display: none;
    width: 30px;
    height: 30px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header .logo{
    float: left;
    margin-top: 5px;
}

header .logo h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #631b14;
}

#glavna{
    min-height: 600px;
    background-image: url('../img/lokacija.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0px -35px;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px #DEB597;
}
#glavna h2{
    padding-top: 65px;
    font-size: 45px;
    color: #631b14;
}

#glavna h5{
    font-size: 20px;
    font-weight: 550;
}

.blok{
    width: 90%;
    min-height: 500px;
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blok .box{
    position: relative;
    width: 300px;
    max-height: 350px;
    margin: 10px 50px;
    box-sizing: border-box;
    display: inline-block;
}

.blok .box h3{
    font-size: 20px;
    color: #631b14;
    text-shadow: 1px 1px #DEB597;

}

.blok .box img{
    height: 50px;
    width: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    transition: transform 0.5s;
}

.blok .box img:hover{
    transform: scale(1.2);
}

.blok .box p{
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px 1px #631b14;
    color: #DEB597;
}
