* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: transparent;
}

header .container{
    width: 80%;
    margin: auto;
}

header{
    background-color: #000000;
    color: #DEB597;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #631b14 3px solid;
}

.logo img {
    width: 70px;
    margin-top: -13px;
    margin-left: -22px;
}

nav .icon{
    display: none;
}

header a{
    color: #DEB597;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

header a:hover{
    text-decoration: underline;
    color: #ffffff;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header .logo{
    float: left;
    margin-top: 5px;
}

header .logo h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #631b14;
}

body .container .pice{
    min-height: 600px;
    background-image: url('../img/sto.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000;
}

body .container .pice h2{
    color: #631b14;
    padding: 15px;
    align-content: center;
    font-size: 45px;
    text-shadow: 1px 1px #000000;
}

body .container .pice h4{
    color: #631b14;
    padding: 10px;
    font-size: 30px;
    text-shadow: 1px 1px #000000;
}

.meni{
    margin: 20px 20px;
    width: 100%;
    min-height: 500px;
    margin: 10px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.meni .box{
    position: relative;
    width: 300px;
    background-color: #DEB597;
    opacity: 0.7;
    margin: 10px 50px;
    box-sizing: border-box;
    display: inline-block;
    transition: transform 0.5s;

}

.meni .box:hover{
    transform: scale(1.1);
    opacity: 0.9;
}



.meni .box .prikaz{
    position: relative;
    padding: 5px;
}

.meni .box .prikaz ul{
    list-style: none;
}
