* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: transparent;
}

.container{
    width: 80%;
    margin: auto;
}

header{
    background-color: #000000;
    color: #DEB597;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #631b14 3px solid;
}

.logo img {
    width: 60px;
    margin-top: -13px;
    margin-left: -32px;
}

header a{
    color: #DEB597;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

header a:hover{
    text-decoration: underline;
    color: #ffffff;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header .logo{
    float: left;
    margin-top: 5px;
}

header .logo h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #631b14;
}

.pice{
    min-height: 600px;
    background-image: url('../img/sto.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #000000;
}

.pice h2{
    color: #631b14;
    margin: 15px;
    align-content: center;
}

.pice h4{
    color: #631b14;
    margin: 10px;
}
